{% extends 'base.html' %} {% block title %} Register page {% endblock %} {%
block content %}
<body class="text-center">
  <div class="container">
    <form method="POST" class="form-signin" style="color: white">
      {{ form.hidden_tag() }}
      <br />
      <img
        class="mb-4"
        src="https://images.unsplash.com/photo-1496989981497-27d69cdad83e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=931&q=80"
        alt="Logo"
        style="width: 5rem; height: auto; border-radius: 1rem"
      />
      <h1 class="mb-4 mb-3 font-weight-normal">Login</h1>
      <br />
      {{ form.username.label() }} {{form.username(class="form-control",
      placeholder="User Name") }} {{ form.password.label() }} {{
      form.password(class="form-control", placeholder="password") }}

      <br />

      <div class="checkbox mb-3">
        <h6>Do not have an account?</h6>
        <a
          class="btn btn-sm btn-secondary"
          href="{{ url_for('register_page') }}"
          >Register</a
        >
      </div>
      {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
  </div>
</body>
{% endblock %}
